table {
    border-spacing: 10px 25px;
    width: 100%;
}

.nameTable-opisanie {
    min-width: 150px;
    max-width: 150px;
    text-align: center;
    font-weight: bold;
}

.taskItem-body {
    box-shadow: none;
}